CREATE DATABASE [psis_production] ON  PRIMARY 
( NAME = N'psis_production', FILENAME = N'E:\MSSQL2008\DATA\omron\psis\production\psis_production.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'psis_production_log', FILENAME = N'E:\MSSQL2008\DATA\omron\psis\production\psis_production_log.ldf' , SIZE = 17408KB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'psis_production', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [psis_production].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [psis_production]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [psis_production] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
