CREATE DATABASE [pis_development] ON  PRIMARY 
( NAME = N'pis_development', FILENAME = N'D:\DB\MSSQL\DATA\omron\pis\development\pis_development.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pis_development_log', FILENAME = N'D:\DB\MSSQL\DATA\omron\pis\development\pis_development_log.ldf' , SIZE = 17408KB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'pis_development', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pis_development].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [pis_development]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [pis_development] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
